@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Global Colors */
    --global-bg-1: #262424;
    --global-bg-2: #d9d9d9;
    --global-bg-3: #ffffff;
    --global-bg-4: #000000;
    --global-bg-5: #c7c7c7;
    --global-bg-9: #ffffffaa;
    --global-text-1: #000000;
    --global-text-2: #00000099;
    --global-text-3: #454040;
    --global-text-4: #ffffff;

    /* EditText Colors */
    --edittext-bg-1: #c7c7c7;
    --edittext-text-1: #00000066;

    /* Button Colors */
    --button-bg-1: #131313;

    /* Sidebar Colors */
    --sidebar-text-1: #d9d9d9;
  }
}

@layer utilities {
  /* Global */
  .bg-global-1 {
    background-color: var(--global-bg-1);
  }
  .bg-global-2 {
    background-color: var(--global-bg-2);
  }
  .bg-global-3 {
    background-color: var(--global-bg-3);
  }
  .bg-global-4 {
    background-color: var(--global-bg-4);
  }
  .bg-global-5 {
    background-color: var(--global-bg-5);
  }
  .bg-global-6 {
    background-color: var(--global-bg-6);
  }
  .bg-global-7 {
    background-color: var(--global-bg-7);
  }
  .bg-global-8 {
    background-color: var(--global-bg-8);
  }
  .bg-global-9 {
    background-color: var(--global-bg-9);
  }
  .text-global-1 {
    color: var(--global-text-1);
  }
  .text-global-2 {
    color: var(--global-text-2);
  }
  .text-global-3 {
    color: var(--global-text-3);
  }
  .text-global-4 {
    color: var(--global-text-4);
  }

  /* EditText */
  .bg-edittext-1 {
    background-color: var(--edittext-bg-1);
  }
  .text-edittext-1 {
    color: var(--edittext-text-1);
  }

  /* Button */
  .bg-button-1 {
    background-color: var(--button-bg-1);
  }

  /* Sidebar */
  .text-sidebar-1 {
    color: var(--sidebar-text-1);
  }
}
